//- Backup
// Full Page Image Background Carousel Header
header#al-koot-carousel.carousel.slide
  // Indicators
  ol.carousel-indicators.custom-indicators
    li.active(data-target='#al-koot-carousel', data-slide-to='0') 
    li(data-target='#al-koot-carousel', data-slide-to='1')

  //- Dark Overlay
  // Wrapper for Slides
  .carousel-inner
    .item.active
      .vignette.hidden-xs
      .fallback.visible-xs
      .bg(style="background-image:url('img-min/Slide-1.jpg');").hidden-xs
      .text-container
        h2 Qatar 2030 Together for 
        h1 A Safe World!
        span.ghost-button
          a.pull-right.btn.btn-sharp(href='#') Read More

    .item
      .vignette.hidden-xs
      .fallback.visible-xs
      .bg(style="background-image:url('img-min/Slide-2.jpg');").hidden-xs
      .text-container
        h2 We believe in keeping our 
        h1 Energy Safe!
        span.ghost-button
          button.pull-right.btn.btn-sharp(href='#') Read More
