section#bg-parallax
  .vignette 
  .sitemap-container
    .container.container-large
      .row
        .col-lg-2.col-md-3.col-sm-6.col-xs-6
          h6.sitemap-header  About Us 
          ul
            li
              a(href='#')  Our History 
            li
              a(href='#')  CEO Message
            li
              a(href='#')  Board of Directors
            li
              a(href='#')  Mission & Vision
            li
              a(href='#')  Objectives 
            li
              a(href='#')  Careers 

        .col-lg-2.col-md-3.col-sm-6.col-xs-6
          h6.sitemap-header  Our Services 
          ul
            li
              a(href='#')  Personal Insurance
            li
              a(href='#')  Re-insurance 
            li
              a(href='#')  Family Insurance
            li
              a(href='#')  Buildings 
            li
              a(href='#')  Ships
            li
              a(href='#')  Oil & Gas
              
        .col-lg-2.col-md-3.col-sm-6.col-xs-6
          h6.sitemap-header Media Center
          ul
            li
              a(href='#') Photo Gallery
            li
              a(href='#') Video Gallery
            li
              a(href='#') News & Press
            li
              a(href='#') Events
            li
              a(href='#') Downloads

        .col-lg-2.col-md-3.col-sm-6.col-xs-6
          h6.sitemap-header Human Resources 
          ul
            li
              a(href='#')  Medical Forms
            li
              a(href='#')  Insurance Forms 
            li
              a(href='#')  Legal Papers 
            li
              a(href='#')  General Documents 
        .col-lg-4.col-md-12.col-xs-12
          h6.sitemap-header Contact Us
          
          ul
            li.embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.948973747831!2d51.49411971533096!3d25.305918383845768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45db3dae45e823%3A0x9b5a8732ac9664a0!2sNaeem+Bin+Masood+St%2C+Doha%2C+Qatar!5e0!3m2!1sen!2s!4v1476011763831', width='100%', height='100%', frameborder='0', style='border:0', allowfullscreen='')
            li
              p
                strong Phone
                |  +974 444976767
            li 
              p
                strong Fax
                |  +974 44976760
            li
              p
                strong Email
                a(href='mailto:alkoot-services@alkoot.qa.com') alkoot-services@alkoot.qa.com
            li
              span.social-links
                a(href='#')
                  i.ps-facebook
                a(href='#')
                  i.ps-twitter  
                a(href='#')
                  i.ps-rss
                
            
footer.footer 
  .container.container-large
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        p All Copyrights reserved Alkoot 2016
        ul 
          li
            a(href="#") Contact Us 
            span.divider | 
          li 
            a(href="#") Privacy Policy 
            span.divider | 
          li 
            a(href="#") Terms & Conditions
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        span.iso  
          img(src="img-min/ISO.PNG", alt="")
          p
            | We are ISO 9001-2008 Certified 
            br
            | Rated #2 in Qatar
          
