nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar.hamburg-top
        span.icon-bar.hamburg-mid
        span.icon-bar.hamburg-bot
      a.navbar-brand(href='#')
        img(src="img-min/alkoot-logo-lg.png", alt="al-koot-logo.png")
      
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') About Us
        li
          a(href='#') Our Services
        li
          a(href='#') Media Center
        li
          a(href='#') Human Resources
        li
          a(href='#') Contacts
        li
          a.isolate(href='#') عربى
        //Drop down search box
        li.visible-xs.visible-sm.visible-md
          form(action='#', method='GET', role='search')
            .search-box 
              input(type="text", name="search", placeholder="Search...", autocomplete="off")
        // Search button
        li.visible-lg
          a(href='#')
            i.ps-search(aria-hidden='true')
