
section.section-container

  .news-container
    .container.container-large
      h3 News & Updates
      .row.row-top-spacing
        .col-md-4.col-sm-4
          .thumbnail
            img.heading(src="img-min/news-1.jpg", alt="")
            .caption.media 
              span.date.media-left
                h4 7
                h5 Aug
              span.paragraph-text.media-body
                p
                  | Policies are updated for the insurance in the new construction Policies are updated for the insurance in the new construction
        .col-md-4.col-sm-4
          .thumbnail
            img.heading(src="img-min/news-2.jpg", alt="")
            .caption.media 
              span.date.media-left
                h4 8
                h5 Aug
              span.paragraph-text.media-body
                p
                  | Policies are updated for the insurance in the new construction Policies are updated for the insurance in the new construction
              
        .col-md-4.col-sm-4
          .thumbnail
            img.heading(src="img-min/news-3.jpg", alt="")
            .caption.media 
              span.date.media-left
                h4 9
                h5 Aug
              span.paragraph-text.media-body
                p
                  | Policies are updated for the insurance in the new construction Policies are updated for the insurance in the new construction
      button.btn.btn-sharp More News  


    
