section
  .partners-section
    .container
      h3 Our Partners
      .row.row-top-spacing
        .col-sm-4.col-md-4.partners-panel
          img(src="img-min/Gulf-Helicopters.png", alt="")
        .col-sm-4.col-md-4.partners-panel 
          img(src="img-min/Gulf Drilling International.png", alt="")
        .col-sm-4.col-md-4.partners-panel 
          img(src="img-min/Gulf International Services.png", alt="")

      
