#service-section.row.no-spacing
  a.col-xs-12.col-sm-4.service-box(href='#')
    img.service-img(src='img-min/Insurance and Reinsurance-1.jpg', alt='')
    span.overlay-text 
      h4 Insurance &amp; <br>  Reinsurance
  a.col-xs-12.col-sm-4.service-box(href='#')
    img.service-img(src='img-min/Personal Insurance-2.jpg', alt='')
    span.overlay-text 
      h4 Personal <br> Insurance
  a.col-xs-12.col-sm-4.service-box(href='#')
    img.service-img(src='img-min/Policies and Documents-3.jpg', alt='')
    span.overlay-text 
      h4 Policies &amp; <br> Documents




    
