
<section>
  <div class="container"> 
    <div class="row">
      <div class="about-wrapper">
        <h3>Our History, Challenges, Mission &amp; Vision</h3>
        <hr class="line"/>
        <p class="col-md-10 col-md-offset-1">Named after a historical fort, Al Koot, one of the oldest forts in the country which was built in the ottoman period in 1880 when Doha was little more than a village, the company is a symbol of protection for the energy industry.</p><a href="#" class="text-center btn btn-sharp">Read More</a>
      </div>
    </div>
  </div>
</section>