
<!-- Full Page Image Background Carousel Header-->
<header id="al-koot-carousel" class="carousel slide">
  <!-- Indicators-->
  <ol class="carousel-indicators custom-indicators">
    <li data-target="#al-koot-carousel" data-slide-to="0" class="active"> </li>
    <li data-target="#al-koot-carousel" data-slide-to="1"></li>
  </ol>
  <!-- Wrapper for Slides-->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below.-->
      <div class="vignette"></div>
      <div style="background-image:url('img-min/Slide-1.jpg');" class="bg">
        <div class="text-container">
          <h2>Qatar 2030 Together for </h2>
          <h1>A Safe World!</h1><span class="ghost-button">
            <button href="#" class="pull-right btn btn-sharp">Read More</button></span>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below.-->
      <div class="vignette"></div>
      <div style="background-image:url('img-min/Slide-2.jpg');" class="bg">
        <div class="text-container">
          <h2>We believe in keeping our </h2>
          <h1>Energy Safe!</h1><span class="ghost-button">
            <button href="#" class="pull-right btn btn-sharp">Read More</button></span>
        </div>
      </div>
    </div>
  </div>
</header>