
<!-- Full Page Image Background Carousel Header-->
<header id="al-koot-carousel" class="carousel slide">
  <!-- Indicators-->
  <ol class="carousel-indicators custom-indicators">
    <li data-target="#al-koot-carousel" data-slide-to="0" class="active"> </li>
    <li data-target="#al-koot-carousel" data-slide-to="1"> </li>
  </ol>
  <!-- Wrapper for Slides-->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below.-->
      <div style="background-image:url('img-min/Slide-1.jpg');" class="bg">
        <div class="carousel-caption">
          <h3>Caption 1</h3>
          <h2>Text Heading</h2>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below.-->
      <div style="background-image:url('img-min/Slide-2.jpg');" class="bg">
        <div class="carousel-caption">
          <h3>Caption 2</h3>
          <h2>Text Heading</h2>
        </div>
      </div>
    </div>
  </div><a data-slide="prev" href="#al-koot-carousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a><a data-slide="next" href="#al-koot-carousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
</header>