

<section>
  <h3>News & Updates</h3>
  <div class="news-container">
    <div class="container-fluid"> 
      <div class="row"> 
        <div class="col-sm-6 col-md-4"> 
          <div class="thumbnail"><img src="img-min/news-1.jpg" alt="" class="heading"/>
            <div class="caption"> </div>
            <p>Policies are updated for the insurance in the new construction</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4"> 
          <div class="thumbnail"><img src="img-min/news-2.jpg" alt="" class="heading"/>
            <div class="caption"> </div>
            <p>Policies are updated for the insurance in the new construction</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4"> 
          <div class="thumbnail"><img src="img-min/news-3.jpg" alt="" class="heading"/>
            <div class="caption"> </div>
            <p>Policies are updated for the insurance in the new construction</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>