
<section class="section-container">
  <h3>News & Updates</h3>
  <div class="news-container">
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail"><img src="img-min/news-1.jpg" alt="" class="heading"/>
            <div class="caption clear"> <span class="date media-left">
                <h4>7</h4>
                <h5>Aug</h5></span><span class="paragraph-text media-body">
                <p>Policies are updated for the insurance in the new construction Policies are updated for the insurance in the new construction</p></span></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail"><img src="img-min/news-2.jpg" alt="" class="heading"/>
            <div class="caption clear"> <span class="date media-left">
                <h4>8</h4>
                <h5>Aug</h5></span><span class="paragraph-text media-body">
                <p>Policies are updated for the insurance in the new construction Policies are updated for the insurance in the new construction</p></span></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail"><img src="img-min/news-3.jpg" alt="" class="heading"/>
            <div class="caption clear"> <span class="date media-left">
                <h4>9</h4>
                <h5>Aug</h5></span><span class="paragraph-text media-body">
                <p>Policies are updated for the insurance in the new construction Policies are updated for the insurance in the new construction</p></span></div>
          </div>
        </div>
      </div>
      <button class="btn btn-sharp">More News  </button>
    </div>
  </div>
</section>