
<div id="service-section" class="row no-spacing"><a href="#" class="col-xs-12 col-sm-4 service-box"><img src="img-min/Insurance and Reinsurance-1.jpg" alt="" class="service-img"/><span class="overlay-text"> 
      <h4>Insurance &amp; <br>  Reinsurance</h4></span></a><a href="#" class="col-xs-12 col-sm-4 service-box"><img src="img-min/Personal Insurance-2.jpg" alt="" class="service-img"/><span class="overlay-text"> 
      <h4>Personal <br> Insurance</h4></span></a><a href="#" class="col-xs-12 col-sm-4 service-box"><img src="img-min/Policies and Documents-3.jpg" alt="" class="service-img"/><span class="overlay-text"> 
      <h4>Policies &amp; <br> Documents</h4></span></a></div>