.about-wrapper {
  // overflow-x: hidden;
  text-align: center;
  h3 {
    text-align: center;
  }
  hr.line {
    border: solid 1.8px $hr-color;
    width: 120px;
    margin: 0 auto;
  }
  p {
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  a {
    font-weight: 700;
  }
}
