// Variables
$font-family: 'Lato', sans-serif;
// $font-family: 'Roboto', sans-serif;
// $font-family: 'Lato', sans-serif;
// $font-family: 'Heebo', sans-serif;
// Navbar
$navbar-background: #348cc2;
$navbar-link-hover: #07629a;
$custom-indicators: rgba(#07629a, 0.2);
// Button
$button-color: #64d570;
$button-hover: #6dc177;
$hr-color: #62f771;

$footer-link-color: #025696;


// Globals
$h3-heading-color: #1d73a8;


* {padding: 0; margin: 0;}
html,body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  // padding-top: 40px;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
// Carousel Headings

// Typography Carousel
h1 {
  text-align: right;
  color:white;
  text-transform: uppercase;
  letter-spacing: 9px;
  text-shadow: 1px 1px 1px #000000;
  font-weight: bolder;
  font-size: 86px;

}
h2 {
  @extend h1;
  letter-spacing: 5.2px;
  font-size: 48px;
}
// Section Headings
h3 {
  font-size: 32px;
  // text-align: center;
  color: $h3-heading-color;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 4px;
  margin: 20px 0;
}

// News Headings
h4 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #5EDC9F;
}
h5 {
  font-size: 22px;
  color: #4A87B3;
}

h6.sitemap-header {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.row-top-spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}

// Custom Button Global
.btn-sharp {
  padding: 10px 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  color: #fff;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  background-color: #64d570;

  font-size: 16px;
  &:link {
    color:white
  }
  &:visited{
    color:white;
  }
  &:hover {
    background-color: $button-hover;
    color: white;
    outline: none;
  }
  &:active {
    outline: none;
    color:white;
  }
}
