img {
  max-width: 100%;
  height: auto;
}

.row.no-spacing {
  margin-right: 0;
  margin-left: 0;
}

.row.no-spacing > [class^="col-"],
.row.no-spacing > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}


@include breakpoint-768-lg {
  .row.no-spacing > [class^="col-"],
  .row.no-spacing > [class*=" col-"] {
    height: 100%;
    width: auto;
  }
}


.service-box {
  display:block;
  position: relative;
  overflow:hidden;
    .service-img {
      display:block;
      width: 100%;
      height: auto;
      border:none;
      transform:scale(1.1);
      transition:all 1s;
    }
}

#service-section a:hover .service-img {
  transform:scale(1.2);
}
.overlay-fx {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
}


.overlay-text {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition:all .6s ease-in-out;
  transition:all .6s ease-in-out;
  padding: 0 40px;

  h4 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    display:inline-block;
    text-shadow: 1px 1px 1px #000000;
  }
}

@include breakpoint-991-lg {
  .overlay-text {
    h4 {
      font-size: 28px;
    }
  }
}




// breakpoint on 991 on responsive text
